@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: linear-gradient(135deg, #7c50bc 0%, #3f1581 100%);
  color: linear-gradient(135deg, #7c50bc 0%, #3f1581 100%);
  background-image: linear-gradient(135deg, #7c50bc 0%, #3f1581 100%);
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

::selection {
  background: #ff589e;
  color: #fff;
}

::-moz-selection {
  background: #ff589e;
  color: #fff;
}

.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
}

.error {
  margin-top: 0;
  margin-bottom: 1em;
  color: #ff7900;
  display: inline-block;
}

a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.edit {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
  padding: 8px 15px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 1em;
}

.editing {
  font-size: 12px;
  margin: 0;
  border: inset;
  background: #a6a6a6;
  outline: rgba(75, 75, 75, 0.08);
}

.side-button-frozen {
  outline: none;
  border: none;
  font-size: 12px;
  border-radius: 20px;
  padding: 8px 15px;
  background-color: #6d6d6d;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 1em;
  margin-right: 1em;
  width: 60%;
  cursor: wait;
}

.side-button-frozen:hover {
  color: #fff;
  background-color: #6d6d6d;
}

.edit img {
  width: 1em;
  height: 1em;
}

.edit:hover {
  background-color: #ff589e;
}

.selected {
  background-color: #ff589e;
}

.radio-button {
  position: absolute;
  display: inline-block;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button + img {
  cursor: pointer;
  float: right;
  width: 20px;
  height: 20px;
  z-index: 100 !important;
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 30px;
  width: 100%;
}

button.main-button:hover {
  background-color: #ff589e;
}

.side-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
  padding: 8px 15px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 1em;
  margin-right: 1em;
  width: 60%;
}

.side-button:hover {
  background-color: #ff589e;
}

.welcome-area {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 60vh;
}

.selection-area {
  margin-top: 3em;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  height: 10vh;
}

.welcome-area .header-text {
  position: absolute;
  top: 40%;
  transform: translateY(-55%);
  text-align: center;
  width: 100%;
}

.welcome-area .header-text h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  color: #fff;
}

.welcome-area .header-text p {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 28px;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
  position: relative;
}

.question-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto auto;
  width: 80%;
}

.question-selection {
  margin: 0 auto;
  width: 22%;
}

.question-creation {
  margin: 0 auto;
  width: 40%;
}

.question-selection-header {
  margin: 0 auto;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding: 0;
  border-radius: 25px;
  text-align: center;
}

.question-selection-header textarea {
  border-radius: 20px;
}

.answer {
  width: 100%;
  height: 5em;
  margin-top: 0.25em;
  font-size: 12px;

  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;

  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.correct {
  box-shadow: 0 0 0 0.2rem #80ff8b;
}

.features-small-item {
  display: block;
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 3vw;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-bottom: 30px;
}

.features-wide-item {
  display: block;
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-bottom: 30px;
  margin-top: 20vh;
  width: 50%;
  margin: 10vh auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}

.wide-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.col-12 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 75%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
}

.col-lg {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
}

.features-small-item:hover .icon {
  background-color: #7b4dc4;
}

.features-small-item .icon {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
  background: #46178f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.features-small-item .icon i {
  font-size: 18px;
  color: #fff;
}

.features-small-item .features-title {
  font-weight: 750;
  font-size: 28px;
  color: #1e1e1e;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.features-small-item a {
  float: right;
  position: relative;
  z-index: 2;
}

.home-feature {
  padding-bottom: 0px;
  padding-top: 30px;
  margin-top: -220px;
  z-index: 9;
}

@media (max-width: 991px) {
  .home-feature {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
  }
}

form input {
  color: #777;
  font-size: 24px;
  border: 1px solid #ddd;
  background: #eee;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 30px;
  text-align: center;
}

form input:read-write:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

form textarea:read-write:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.question-form .answer-text-area {
  font-size: 12px;
  height: 100%;
  width: 100%;
  margin: 0;
  border: none;
  background: #ffffff;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.prompt-text-area {
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0;
  border: none;
  background: #ffffff;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

/* Preloader */
#preloader {
  overflow: hidden;
  background-image: linear-gradient(135deg, #7c50bc 0%, #3f1581 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
